.checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid rgb(136,136,136);
    background: white;
    position: relative;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    height: 14px;
    top:-3px;
    padding-left:30px;
    background: transparent;
    padding-top: 3px;
}
.checkbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 5px;
    left: 2px;
    border: 3px solid rgb(0,127,201);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.checkbox input[type=checkbox]:checked + label:after ,.checkbox input[type=radio]:checked +
label:after{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}