<html>

<head>
<title>Yet another service Results</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="bootstrap3/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap-switch/bootstrap-switch.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="bootstrap-glyphicons/css/bootstrap.icon-large.min.css">

<script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="bootstrap3/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap-switch/bootstrap-switch.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8 centered">
		<h1 class="text-center site-header">Relationbook.ru</h1>
		<div class="spacer"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 centered">
			<h1>Фильтры</h1>
			<p>Пол</p>
			<div class="gender-switch make-switch" data-on="success" data-off="warning" data-on-label="<i class='icon-large icon-old-man'></i> М" data-off-label="<i class='icon-large icon-woman'></i> Ж">		
			<input type="checkbox" checked>
			</div>
			<p>Статус</p>
			<input type="checkbox">
			В активном поиске<br>
			<input type="checkbox">
			Женат<br>
			<input type="checkbox">
			Все сложно<br>
			
		</div>
	
		<div class="col-xs-6 col-sm-5 col-md-8 col-lg-9 centered">
			<h1>Кого отслеживаем?</h1>
			<form role="form">
				<input class="form-control">
			</form>
			{% for unit in result %}
			<i class='icon-large icon-woman'></i><a href="#">{{ unit.first_name }} {{ unit.last_name }}</a> встречается с Василием Залупкиным
			{% endfor %}
		</div>
	</div>
	
	<div class="row">	
		
		<div class="spacer"></div>
		<p class="text-center">(c) Ростовский Хакатон 47 hours</p>
		<a href="https://github.com/silviomoreto/bootstrap-select">надо улучшить форму с помощью bootstrap-select</a>
	</div>
</div>
</body>

</html>


