{% load static %}
<html>

<head>
<title>Yet another service Results</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lazyscrollloading-src.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui2.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8 centered">
		<a href="/"><h1 class="text-center site-header">U have a chance!</h1></a>
		<div class="spacer"></div>
	</div>
	
	<div class="row">
		<div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 centered">
			<h3>Фильтры</h3>
			<div class="spacer-sm"></div>
			<h4>Интересующий пол</h4>
			<form id="rel_status">
			<ul id="sex-switcher">
				<li><label><input name="sex" value="2" type="radio">М</label></li>
				<li><label><input name="sex" value="1" type="radio">Ж</label></li>
				<li><label><input name="sex" value="0" type="radio">Не указан</label></li>
				<li class="active"><label><input name="sex" value="-1" type="radio">Все</label></li>
			</ul>

			<!--<div class="gender-switch make-switch" data-on="success" data-off="warning" data-on-label="<i class='icon-large icon-old-man'></i> М" data-off-label="<i class='icon-large icon-woman'></i> Ж">		
			<input type="checkbox" id="genderswitch" checked>
			</div>-->
			<div class="spacer-sm"></div>
			<h4>Статус</h4>
				{% for i, j in rel_dict.items %}
				<label><input class="relfilter" name="rel" type="checkbox" value="{{ i }}">
				{{ j }}</label><br>{% endfor %}
			</form>

			<div class="spacer-sm"></div>
			<span class="glyphicon glyphicon-bookmark"></span>
			<a href="/tracklist/">Просмотреть список отслеживания</a>

			<div class="spacer-sm"></div>
			<span class="glyphicon glyphicon-plus-sign"></span>
			<a href="#">Добавить тех кто не в друзьях</a>
			
		</div>
	
		<div class="col-xs-6 col-sm-5 col-md-8 col-lg-9 centered">
			<h1>Кого отслеживаем?</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 centered">
				
				<form role="form" >
					<div class="input-group">
						<input id="search-fild" class="form-control input-lg">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</form>	
					
				</div>	
				
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 centered">
						
					<button href="#myModal" type="button" id="addtotracklist" class="btn btn-primary btn-lg btn-success" data-toggle="modal">
					<span class="glyphicon glyphicon-ok"></span> Отслеживать
					</button>
				
				</div>
			</div>
			
			<div id="preloader">
				<img src="{% static 'img/preloader.gif' %}">
			</div>
			<div id="main">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 centered">
						Найдено <span id="ret_results">{{ result|length }}</span> результатов 
					</div>							
				</div>
			
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 centered">
						<div class="spacer-sm"></div>
						выделить <a href="#"> все</a> <a>ни одного</a>
					</div>							
				</div>
			
			
				<form id="retr_results">
				{% for unit in result %}
				<div class="unit clearfix">
					<div class="checkbox unit-checkbox"><input name="uid" value="{{ unit.uid }}" type="checkbox"></div>
					<div class="unit-photo"><img width=50 height=50 lazy-img="{{ unit.photo_50 }}" class="unit-photo img-circle"></div>
					<div class="unit-name"><span class="person-name"><a href="http://vk.com/{{ unit.screen_name }}" class="{% if unit.is_changed %}changed{% else %}normal{% endif %}">{{ unit.first_name }} {{ unit.last_name }}</a></span>
					<br><span class="relation-who"><img src="{% static 'img/rels_ico/stat_' %}{{ unit.rel_stat }}.png">{{ unit.relation|safe }}</span><br/></div>
				</div>
				{% endfor %}
				<form>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
        <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	
	<h4 class="modal-title">Подписываю на обновления ёпть...</h4>
        </div>
	
	<div id="submitform">
	
		<div class="modal-body">
			  <p>Вы можете отслеживать друзей только на сайте, а можете еще и получать уведомления, это пока бесплатно;)</p>
	  
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadio1">Я хочу подписаться только на сайте
			    </label>
			  </div>
			  
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadio2">Я хочу ещё и получать уведомления
			    </label>
			  </div>
	  
			<div id="subscribe-do">
			
			<p>Введите свои данные для подписки на обновления по электронной почте и sms</p>
			  
			  <form role="form">
				<div class="form-group">
				<label for="InputEmail">Email</label>
				<input type="email" class="form-control" id="InputEmail" placeholder="например john.doe@gmail.com">
				</div>
		
				<div class="form-group">
				<label for="InputPhone">Мобильный телефон</label>
				<input type="phone" class="form-control" id="InputPhone" placeholder="например +7 (988) 123-45-67">
				 </div>
			  </form>
			
			</div>
	  
		 </div>
        
		<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Я передумал</button>
		<button type="button" id="submit" class="btn btn-success">Вперед к светлому будущему!</button>
		</div>
		
	</div>
	
	</div><!-- /.modal-content -->
	
	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="row">	
		<div class="spacer"></div>
		<p class="text-center">(c) Ростовский Хакатон <a href="http://47hours.org">47 hours</a></p>
	</div>
</div>
</body>

</html>


