{% load static %}
<html>

<head>
<title>Yet another service Results</title>
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lazyscrollloading-src.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8 centered">
		<a href="/"><h1 class="text-center site-header">You have a chance!</h1></a>
		<div class="spacer"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<h1>Ваш список отслеживания</h1>
			
			<p>Текущий e-mail для уведомлений: {{ request.user.email }}</p>
			<p>Текущий номер для уведомлений: {{ request.user.phone }}</p>
			
			<form class="form-inline" role="form">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail2">Новый e-mail</label>
			    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Введите новый email">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword2">Новый номер</label>
			    <input type="phone" class="form-control" id="exampleInputPhone2" placeholder="Введите новый телефон">
			  </div>
			  <button type="submit" class="btn btn-default">Применить</button>
			</form>
			
			<h3>Друзья</h3>
			{% for unit in result %}
			<div class="unit clearfix">
				<div class="unit-photo"><img width=50 height=50 src="{{ unit.photo_50 }}" class="unit-photo img-circle"></div>
				<div class="unit-name"><span class="person-name"><a href="http://vk.com/{{ unit.screen_name }}" class="{% if unit.is_changed %}changed{% else %}normal{% endif %}">{{ unit.first_name }} {{ unit.last_name }}</a></span>
				<br><span class="relation-who"><img src="{% static 'img/rels_ico/stat_' %}{{ unit.rel_stat }}.png">{{ unit.relation|safe }}</span><br/></div>
				<div class="unit-name"><a href="?del={{ unit.uid }}">удалить из отслеживания</a></div>
			</div>{% endfor %}
			
			<h4><a href="/friend_list/">перейти обратно к списку друзей</a></h4>
			
			
			<h3>Подписчики</h3>
		
			<h3>Недрузья</h3>
		
		</div>
		
	</div>
</div>
</dody>
</html>
